*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
     background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url(img/fondo.jpg);
}

.contenedor-caja table {
  background: #33ff00;
  color: #000;

}
.contenedor-caja {
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  color: #fff;
  position: relative;
  padding: 44px 10px 0 10px;
  overflow: hidden;
}




input{
  width: 100%;
  margin-bottom: 20px
}

input[type="text"], input[type="password"], input[type="number"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #228608;;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    height: 40px;
    font-size: 18px;
    
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background: #33ff00;
    color: #000;
  }

select[name="rol"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
@media screen and (max-width: 800px){
  .contenedor{
      width: 100%;
  }
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 10px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

  
  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
  tr:hover td{
    background-color: #369681;
    color: white;
  }

  h2{
    color: #000;
  }
  